{% extends 'base.html.twig' %}

{% block title %}Edit Participant{% endblock %}

{% block body %}
    <div class="text-center mb-4">
        <h1>Mon profil</h1>
    </div>
    <div class="row">


    {% if participant.image %}
        <div class="col-md-5 text-center">
            <img src="{{ asset("uploads/profile_images/") }}{{ participant.image.imageFile }}" alt="profile picture"
                 border="2px solid black"
                 width="250" height="250">
        </div>
    {% endif %}
    <div class="col-md-5">
        {{ form_start(form) }}
        {#            Partie User #}

        <div class="form-row">
            <div class="form-group col-md-6 p-2">
                {{ form_label(form.username) }}
                {{ form_widget(form.username, {'attr':{'class': 'form-control'} }) }}
                {{ form_errors(form.username) }}
            </div>
        </div>
        {#            Partie Participant #}
        <div class="form-row">
            <div class="form-group col-md-6 p-2">
                {{ form_label(form.firstname) }}
                {{ form_widget(form.firstname, {'attr':{'class': 'form-control'} }) }}
                {{ form_errors(form.firstname) }}
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6 p-2">
                {{ form_label(form.lastname) }}
                {{ form_widget(form.lastname, {'attr':{'class': 'form-control'} }) }}
                {{ form_errors(form.lastname) }}
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6 p-2">
                {{ form_label(form.mail) }}
                {{ form_widget(form.mail, {'attr':{'class': 'form-control'} }) }}
                {{ form_errors(form.mail) }}
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6 p-2">
                {{ form_label(form.campus) }}
                {{ form_widget(form.campus, {'attr':{'class': 'form-control'} }) }}
                {{ form_errors(form.campus) }}
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6 p-2">
                {{ form_label(form.phone) }}
                {{ form_widget(form.phone, {'attr':{'class': 'form-control'} }) }}
                {{ form_errors(form.phone) }}
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6 p-2">
                <div class="d-flex justify-content-around p-2">
                    {{ form_label(form.admin) }}
                    {{ form_widget(form.admin) }}
                    {{ form_errors(form.admin) }}

                    {{ form_label(form.active) }}
                    {{ form_widget(form.active) }}
                    {{ form_errors(form.active) }}
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6 p-2">
                {{ form_label(form.image) }}
                {{ form_widget(form.image, {'attr':{'class': 'form-control'} }) }}
                {{ form_errors(form.image) }}
            </div>
        </div>
        {#    {{ form_row(form.lastname) }} #}
        {#    {{ form_row(form.mail) }} #}
        {#    {{ form_row(form.campus) }} #}
        {#    {{ form_row(form.phone) }} #}
        {#    {{ form_row(form.admin) }} #}
        {#    {{ form_row(form.active) }} #}
        {#    {{ form_row(form.image) }} #}
        <div class="form-row">
            <div class="form-group col-md-6">
                <div class="d-flex justify-content-around p-2">
                    <button type="submit" class="btn btn-primary">Enregistrer</button>
                    <a class="btn btn-danger" href="{{ path('activity_list') }}">Annuler</a>
                </div>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
    </div>
    {#    <div class="alert alert-warning"> #}
    {#        {{ form_errors(form) }} #}
    {#    </div> #}

    {#    {{ include('participant/_form.html.twig', {'button_label': 'Update'}) }} #}
    {#    <a class="btn btn-outline-dark" href="{{ path('app_participant_index') }}">Retour</a> #}
    {#    {{ include('participant/_delete_form.html.twig') }} #}
{% endblock %}