{% extends 'base.html.twig' %}



{% block body %}
    <div class="text-center mb-4 mt-3">
        {% if app.user.id==participant.user.id %}
            <h1>Mon profil</h1>
        {% else %}
            <h1>Profil de {{ participant.user.username }}</h1>
        {% endif %}
    </div>
    <div class="container-fluid">
        <div class="row">
        <div class="col-md-4 col-sm-8 text-center">
            <img
                    id="profile-picture"
                    src="
                    {% if participant.image %}
                        {{ asset("uploads/profile_images/") }}{{ participant.image.imageFile }}
                    {% endif %}
                    "
                    alt=""
                    border="2px solid black"
                    width="250" height="250"
            >
        </div>

        <div class="col-md-4 col-sm-8">
            {{ form_start(form) }}
            {#            Partie User #}

            <div class="form-row">
                <div class="form-group p-2">
                    {{ form_label(form.username) }}
                    {{ form_widget(form.username, {'attr':{'class': 'form-control'} }) }}
                    {{ form_errors(form.username) }}
                </div>
            </div>
            {#            Partie Participant #}
            <div class="form-row">
                <div class="form-group p-2">
                    {{ form_label(form.firstname) }}
                    {{ form_widget(form.firstname, {'attr':{'class': 'form-control'} }) }}
                    {{ form_errors(form.firstname) }}
                </div>
            </div>
            {% if app.user.id==participant.user.id %}
                <div class="form-row">
                    <div class="form-group p-2">
                        {{ form_label(form.plainPassword) }}
                        {{ form_widget(form.plainPassword, {'attr':{'class': 'form-control'} }) }}
                        {{ form_errors(form.plainPassword) }}
                    </div>
                </div>
            {% endif %}
            <div class="form-row">
                <div class="form-group p-2">
                    {{ form_label(form.lastname) }}
                    {{ form_widget(form.lastname, {'attr':{'class': 'form-control'} }) }}
                    {{ form_errors(form.lastname) }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group p-2">
                    {{ form_label(form.mail) }}
                    {{ form_widget(form.mail, {'attr':{'class': 'form-control'} }) }}
                    {{ form_errors(form.mail) }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group p-2">
                    {{ form_label(form.campus) }}
                    {{ form_widget(form.campus, {'attr':{'class': 'form-control'} }) }}
                    {{ form_errors(form.campus) }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group p-2">
                    {{ form_label(form.phone) }}
                    {{ form_widget(form.phone, {'attr':{'class': 'form-control'} }) }}
                    {{ form_errors(form.phone) }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group p-2">
                    {{ form_label(form.image) }}
                    {{ form_widget(form.image, {'attr':{'class': 'form-control'} }) }}
                    {{ form_errors(form.image) }}
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <div class="d-flex justify-content-around p-2">
                        <button type="submit" class="btn btn-primary">Enregistrer</button>
                        <a class="btn btn-danger" href="{{ path('activity_list') }}">Annuler</a>
                    </div>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
        </div>
    </div>
    <script type="text/javascript" src="{{ asset("assets/js/imageupload.js") }}"></script>
{% endblock %}