{% extends 'base.html.twig' %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block body %}
    <h1>Liste des utilisateurs</h1>

    <div id="no-more-tables">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nom</th>
                <th scope="col">Prénom</th>
                <th scope="col">Téléphone</th>
                <th scope="col">E-mail</th>
                <th scope="col">Administrateur</th>
                <th scope="col">Actif</th>
                <th scope="col" colspan="2">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for participant in participants %}
                <tr>
                    <td data-title="Id">{{ participant.id }}</td>
                    <td data-title="Nom">{{ participant.lastname }}</td>
                    <td data-title="Prénom">{{ participant.firstname }}</td>
                    <td data-title="Téléphone">{{ participant.phone }}</td>
                    <td data-title="E-mail">{{ participant.mail }}</td>
                    <td data-title="Administrateur">{{ participant.admin ? 'Oui' : 'Non' }}</td>
                    <td data-title="Actif">{{ participant.user.active ? 'Oui' : 'Non' }}</td>
                    <td data-title="Actions">
                        <a class="btn btn-info" href="{{ path('app_participant_show', {'id': participant.id}) }}">Afficher</a>
                    </td>
                    <td>
                        <a class="btn btn-warning" href="{{ path('app_participant_edit', {'id': participant.id}) }}">Modifier</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="8">Aucun utilisateur trouvé</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>


    <div class="text-center mb-3">
        <a class="btn btn-success" href="{{ path('app_register') }}">Ajouter un Utilisateur</a>
    </div>
{% endblock %}