{% extends 'base.html.twig' %}

{% block title %}Participant{% endblock %}

{% block body %}
    <h1>Participant</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ participant.id }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ participant.lastname }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ participant.firstname }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ participant.phone }}</td>
            </tr>
            <tr>
                <th>Mail</th>
                <td>{{ participant.mail }}</td>
            </tr>
            <tr>
                <th>Admin</th>
                <td>{{ participant.admin ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Active</th>
                <td>{{ participant.active ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_participant_index') }}">back to list</a>

    <a href="{{ path('app_participant_edit', {'id': participant.id}) }}">edit</a>

    {{ include('participant/_delete_form.html.twig') }}
{% endblock %}
