{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="text-center mt-3">
        <h1>Ajouter des utilisateurs par CSV</h1>
    </div>

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
    <div class="row">
        <div class="col-md-2 offset-md-5 col-sm-3 mt-3 offset-2">
            {{ form_label(registrationForm, 'Fichier CSV à convertir',{'attr': {'class': 'form-label'}}) }}
            {{ form_widget(registrationForm) }}
        </div>
            {#  Preview des utilisateurs insérés avec JS ?  #}
        <div class="col-md-2 offset-md-5 col-sm-3 mt-3">
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-success m-3">Insérer des utilisateurs</button>
            </div>
        </div>
    </div>
        {{ form_end(registrationForm) }}
    <div class="row">
        <div id="output" class="col-md-5 offset-md-3 col-sm-3 mt-3">
            {#      Div prévue pour la prévisualisation des données      #}
        </div>
    </div>

    <script type="text/javascript" src="{{ asset("assets/js/csv.js") }}"></script>
{% endblock %}