{% extends 'base.html.twig' %}


{% block body %}
    <div class="row ms-3 mt-3">
        <h4>Filtrer les campus</h4>
        <form action="">
            <label for="search">Le nom contient : </label>
            <input class="form-control-sm" type="search" name="search" id="search">
{#            <button class="btn btn-sm btn-info">Rechercher</button>#}
        </form>
    </div>
    <div class="row p-5">
        <div class="col-md-3">
        <table class="table table-striped">
            <tr>
                <th scope="col">Ville</th>
                <th scope="col">Actions</th>
            </tr>

            {% for campus in campuses %}
                <tr id="{{ campus.name|lower }}">
                    <td id="campus">{{ campus.name }}</td>
                    <td>
                        <a class="btn btn-warning" href="{{ path("app_campus_edit",{"id":campus.id}) }}">Modifier</a>
                        -
                        <a class="btn btn-danger" href="{{ path("app_campus_delete",{"id":campus.id} ) }}">Supprimer</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
            <div class="text-start">
                <a class="btn btn-warning" href="{{ path("app_campus_new") }}">Ajouter</a>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="{{ asset("assets/js/campus.js") }}"></script>
{% endblock %}