{% extends 'base.html.twig' %}

{% block title %}Annuler une sortie{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center mb-5 mt-2">Annuler une sortie</h1>
    <form action="" method="post" class="d-flex justify-content-center">
        <div class="d-flex col-5 justify-content-center flex-wrap card card-group bg-info-subtle table-bordered">
            <table class="table table-hover table-info table-striped table-group-divider">
                <tr>
                    <td>Nom de l'activité :</td>
                    <td>{{ activity.name }}</td>
                </tr>
                <tr>
                    <td>Date de la sortie :</td>
                    <td>{{ activity.startingTime|date }}</td>
                </tr>
                <tr>
                    <td>Campus organisateur :</td>
                    <td>{{ activity.campus.name }}</td>
                </tr>
                <tr>
                    <td>Lieu :</td>
                    <td>{{ activity.venue.name }}</td>
                </tr>
                <tr>
                    <td rowspan="2">Adresse&nbsp:</td>
                    <td>{{ activity.venue.street }}.<br>
                        {{ activity.venue.city.postalCode }}, {{ activity.venue.city.name }}</td>
                </tr>
                <tr></tr>
                <tr>
                    <td>Motif :</td>
                    <td>
                        <textarea name="cancelMotive" id="cancelMotive" cols="30" rows="5"></textarea>
                    </td>
                </tr>
            </table>
            <div class="d-flex justify-content-between col-6 mb-3">
                <button class="btn btn-success" type="submit">Enregistrer</button>
                <a class="btn btn-danger" href="{{ path('activity_list') }}">Annuler</a>
            </div>
        </div>

    </form>

</div>
{% endblock %}


