{% extends 'base.html.twig' %}

{% block title %}Hello ActivityController!{% endblock %}

{% block body %}

    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-dismissible alert-{{ label }} p-2">
                <p class="text-center">{{ message }}</p>
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            </div>
        {% endfor %}
    {% endfor %}

    <div class="container mt-3 text-lg-end">
       <h5>Date du jour : {{ 'now' | date('d-m-y') }}</h5>
       <h5>Participant : {{ app.user.participant.firstname }} {{ app.user.participant.lastname }}</h5>
   </div>
    <br>
    <br>
    <div class="container">

        <div>
            <h5>Filtrer les sorties</h5>
            <br>
        </div>


        <div class="row">

                <div class="col-md-4 card card-subtitle p-2 bg-primary-subtle">
                    {{ form_start(form) }}
                    <div>
                        {{ form_label(form.campus) }}
                        {{ form_widget(form.campus) }}
                        {{ form_errors(form.campus) }}
                    </div>
                    <div class="mt-2">
                        {{ form_label(form.string) }}
                        {{ form_widget(form.string) }}
                        {{ form_errors(form.string) }}
                    </div>
              <div class="row mt-2">
                  <div class="col-sm-6">
                      {{ form_label(form.startDate) }}
                      {{ form_widget(form.startDate) }}
                      {{ form_errors(form.startDate) }}
                  </div>
                  <div class="col-sm-6">
                      {{ form_label(form.endDate) }}
                      {{ form_widget(form.endDate) }}
                      {{ form_errors(form.endDate) }}
                  </div>
              </div>

                    {{ form_end(form) }}
                </div>



            <div class="col-md-4">
                <div>
                    <input type="checkbox" id="isOrganized" name="isOrganized">
                    <label for="isOrganized">Sorties dont je suis l'organisateur/trice</label>
                </div>
                <div>
                    <input type="checkbox" id="isRegistred" name="isRegistred">
                    <label for="isRegistred">Sortie auxquelles je suis inscrit/e</label>
                </div>
                <div>
                    <input type="checkbox" id="isNotRegistred" name="isNotRegistred">
                    <label for="isNotRegistred">Sortie auxquelles je ne suis pas inscrit/e</label>
                </div>
                <div>
                    <input type="checkbox" id="past" name="past">
                    <label for="past">Sorties passées</label>
                </div>
            </div>

        </div>
        <br>
    </div>

    <div class="col-8 offset-2 mt-3"  >
        <div class="container p-0" id="table_main">
            <table class="table table-bordered table-striped table-hover m-0">
                <thead>
                <tr>
                    <th scope="col">Nom de la sortie</th>
                    <th scope="col">Date de la sortie</th>
                    <th scope="col">Clôture</th>
                    <th scope="col">Inscrits / places</th>
                    <th scope="col">Etat</th>
                    <th scope="col">Inscrit</th>
                    <th scope="col">Organisateur</th>
                    <th scope="col" colspan="3" class="text-center">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for activity in activities %}
                    <tr>
                        <td>{{ activity.name }}</td>
                        <td>{{ activity.startingTime|date }}</td>
                        <td>{{ activity.signUpLimit|date }}</td>
                        <td>{{ activity.participants|length }} / {{ activity.maxSignUp }}</td>
                        <td name="state">{{ activity.state.libelle }}</td>
                        <td name="register">
                            {% if app.user.participant in activity.participants %}
                                x
                            {% endif %}
                        </td>
                        <td><a href="{{ path('app_participant_show',{ "id":activity.organizer.id} ) }}"  name="organizer">{{ activity.organizer.lastname }}</a></td>
                        <td>
                            {% if activity.state.libelle != 'créée' %}
                                <a href="{{ path('activity_details', {'id' : activity.id}) }}">Afficher</a>
                            {% else %}
                                <a href="{{ path('activity_update', {'id' : activity.id}) }}">Modifier</a>
                            {% endif %}
                        </td>
                        <td>
                            {% if app.user.participant in activity.participants %}
                                {% if activity.state.libelle == 'ouverte' or activity.state.libelle == 'cloturé' %}
                                    <a href="{{ path('activity_unsubscribe', {'id' : activity.id}) }}">Se désister</a>
                                {% endif %}
                            {% elseif activity.state.libelle == 'ouverte' %}
                                <a href="{{ path('activity_subscribe', {'id' : activity.id}) }}">S'inscrire</a>
                            {% endif %}
                        </td>
                        <td>
                            {% if app.user.participant == activity.organizer %}
                                {% if activity.state.libelle == 'créée' %}
                                    <a href="{{ path('activity_publish', {'id' : activity.id}) }}">Publier</a>
                                {% elseif activity.state.libelle == 'ouverte' or activity.state.libelle == 'cloturé' %}
                                    <a href="{{ path('activity_delete', {'id' : activity.id}) }}">Annuler</a>
                                {% endif %}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="mt-3 d-flex justify-content-end">
            <a href="{{ path('activity_create') }}" class="btn btn-warning">Créer une sortie</a>
        </div>
    </div>
    <div hidden id="username">{{ app.user.participant.lastname }}</div>
    <script type="text/javascript" src="{{ asset('assets/js/list.js') }}"></script>
{% endblock %}
