{% extends 'base.html.twig' %}

{% block title %}Hello ActivityController!{% endblock %}

{% block body %}
   <div class="container mt-3 text-lg-end">
       <h5>Date du jour : {{ 'now' | date('d-m-y') }}</h5>
       <h5>Participant : {{ app.user.participant.firstname }} {{ app.user.participant.lastname }}</h5>
   </div>
    <br>
    <br>
    <div class="container">

        <div>
            <h5>Filtrer les sorties</h5>
            <br>
        </div>


        <div class="row">

                <div class="col-md-4">
                    {{ form_start(form) }}
                    <div>
                        {{ form_label(form.campus) }}
                        {{ form_widget(form.campus) }}
                        {{ form_errors(form.campus) }}
                    </div>
                    <div>
                        {{ form_label(form.string) }}
                        {{ form_widget(form.string) }}
                        {{ form_errors(form.string) }}
                    </div>

                    {{ form_end(form) }}
                </div>

{#            <div>#}
{#                {% for activity in activities %}#}
{#                    <td>{{ activity.campus.name }}</td>#}
{#                {% endfor %}#}
{#            </div>#}

            <div class="col-md-4">
                <div>
                    <input type="checkbox" id="isOrganized" name="isOrganized" checked>
                    <label for="isOrganized">Sorties dont je suis l'organisateur/trice</label>
                </div>
                <div>
                    <input type="checkbox" id="isRegistred" name="isRegistred">
                    <label for="isRegistred">Sortie auxquelles je suis inscrit/e</label>
                </div>
                <div>
                    <input type="checkbox" id="isNotRegistred" name="isNotRegistred">
                    <label for="isNotRegistred">Sortie auxquelles je ne suis pas inscrit/e</label>
                </div>
                <div>
                    <input type="checkbox" id="past" name="past">
                    <label for="past">Sorties passées</label>
                </div>
            </div>
            <div class="col-md-4">
                <button type="submit">Rechercher</button>
            </div>
        </div>
        <br>
    </div>

    <div class="">
        <div class="container py-4 mt-3 rounded-3">

            <br>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Nom de la sortie</th>
                    <th scope="col">Date de la sortie</th>
                    <th scope="col">Clôture</th>
                    <th scope="col">Inscrits / places</th>
                    <th scope="col">Etat</th>
                    <th scope="col">Inscrit</th>
                    <th scope="col">Organisateur</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                {% for activity in activities %}
                    <tr>
                        <td>{{ activity.name }}</td>
                        <td>{{ activity.startingTime|date }}</td>
                        <td>{{ activity.signUpLimit|date }}</td>
                        <td>{{ activity.participants|length }} / {{ activity.maxSignUp }}</td>
                        <td>{{ activity.state.libelle }}</td>
                        <td>
                            {% for participant in activity.participants %}
                                {% if participant.id == app.user.participant.id %}
                                x
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>{{ activity.organizer.lastname }}</td>
                        <td><a href="{{ path('activity_details', {'id' : activity.id}) }}">afficher</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <br>
            <div>
                <button href="#">Créer une sortie</button>
            </div>
        </div>
    </div>
{% endblock %}
